@import url("https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,600&family=Montserrat+Alternates:ital,wght@0,500;1,400&family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,600&family=Montserrat+Alternates:ital,wght@0,500;1,400&family=Raleway&family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(30, 21, 21);
  color: white;
  height: 55px;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 3rem;
}

nav li {
  list-style-type: none;
}
.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Raleway", sans-serif;
  position: relative;
}

img {
  width: 0;
  transition: width 1s ease-in-out;
}

.gameInfo {
  margin-left: 50px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: larger;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 7vw;
}

.box:hover {
  background-color: #f0fbff;
  cursor: pointer;
}

/* here now we'll use some utility classes for border */
.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

.info{
    font-size: 30px;
}

#reset {
    margin: 0 23px;
    padding: 3px 25px;
    background-color: #f0fbff;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.line{
    background-color: black;
    height: 3px;
    width: 0vw;
    position: absolute;
    background-color: rgb(189, 255, 255);
    transition: width 1s ease-in-out;
}





/* ----------------------responsive----------------------  */
@media only screen and (max-width: 1000px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 50px;
  }

  .gameInfo h1 {
    font-size: 2.5rem;
  }

  .container{
    display: grid;
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
